* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 225px 1fr;
}

.header {
  background-color: #FFFFFF;
}

.sidebar {
  background-color: #1992D4;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.main-content {
  background-color: #E2E8F0;
}