@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 175px 1fr;
}

/* Base Layout */


.header {
  background-color: #FFFFFF;
}

.sidebar {
  background-color: #1992D4;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.main-content {
  background-color: #E2E8F0;
}

/* Sidebar */

.sidebar {
  padding: 25px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

.sidebar .title {
  display: flex;
  align-items: center;
}

.title > p {
  font-size: 1.5rem;
  padding-left: 15px;
}

.options-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75%
}

.sidebar .title > img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);;
  width: 75px;
}

.option {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.option > img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  width: 45px;
}

.option > a {
  margin-left: 35px;
  padding-bottom: 2px;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

/* Header */

.header {
  display: grid;
  grid-template-columns: 1.75fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 15px;
}


/* Search Box */

.header-search {
  display: flex;
  align-items: center;
  padding-left: 35px;
}

.header-search > img {
  width: 25px;
}

.header-search .searchbox {
  background-color: #E2E8F0;
  width: 900px;
  padding: 20px;
  border-radius: 18px;
}

/* User */

.header-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}


.header-user > .bell {
  margin-right: 25px;
  width: 35px;
}

.header-user > .user-icon {
  margin-right: 25px;
  aspect-ratio: 1 / 1;
  height: 55px;
  border-radius: 50%;
}

.header-user .username {
  font-size: 1.40rem;
  font-weight: 400;
}

/* Welcome */

.header-welcome {
  display: flex;
  padding-left: 35px;
  align-items: center;

}

.header-welcome > img {
  aspect-ratio: 1 / 1;
  height: 80px;
  border-radius: 50%;
}

.header-welcome > .welcome-text {
  padding-left: 25px;
}

.welcome-text > .welcome-sub {
  font-size: 1.25rem;
  padding-bottom: 8px;
  font-weight: 400;
}

.welcome-text > .welcome-main {
  font-size: 1.45rem;
  font-weight: 400;
}

/* Choices */

.header-choices {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-choices > button {
  outline-color: transparent;
  border: none;
  width: 125px;
  padding: 10px;
  height: 50px;
  background-color: #1992D4;
  border-radius: 45px;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}


/* Main */

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr
}



/* Project */

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 55px;
  grid-auto-rows: 1fr;
  padding: 25px;
  gap: 2rem;
}

.projects > h3 {
  grid-column: 1 / -1;
}

.project-options > img {
  aspect-ratio: 1 / 1;
  width: 25px;
}

.project {
  background-color: white;
  padding: 10px;
  border-left: 8px solid rgb(240,180,41);
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.project-text {
  padding: 5px;
}

.project-text h5 {
  padding-bottom: 15px;
  font-size: 1.25rem;
}

.project-text p {
  font-size: 1.05rem;
}


/* Announcements and Trending */

.announce-trending {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}
.announcements h4 {
  font-size: 1.25rem;
  margin-bottom: 63px;
}

.announcements > .announces {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.announcement {
  padding: 12px;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}

.announces > .privacy {
  border: none;
}



.trending-user > img {
  aspect-ratio: 1/1;
  width: 45px;
  border-radius: 50%;
}

.trending > h4 {
  font-size: 1.25rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

.trending-users {
  border-radius: 8px;
  background-color: white;
  padding: 20px;
}

.trending-user {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.trending-userinfo {
  padding-left: 15px;
  font-size: 1.05rem;
}

.trending-username {
  padding-bottom: 5px;
}

.trending-usertitle {
  color: #777777;
}